In [1]:
import pandas as pd
import numpy as np

In [4]:
table=pd.read_excel('stock_score_all2018-11-30.xlsx')

table.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3564 entries, 0 to 3563
Data columns (total 13 columns):
Unnamed: 0          3564 non-null int64
con_date            3564 non-null object
score               3564 non-null float64
score_roc_13week    3540 non-null float64
score_roc_1week     3560 non-null float64
score_roc_26week    3518 non-null float64
score_roc_4week     3556 non-null float64
score_roc_52week    3443 non-null float64
stock_code          3564 non-null int64
stock_name          3564 non-null object
sumvalue_gz         3564 non-null float64
sumvalue_sc         3564 non-null float64
sumvalue_yj         3564 non-null float64
dtypes: float64(9), int64(2), object(2)
memory usage: 362.0+ KB

In [6]:
table.head(5)

,Unnamed: 0,con_date,score,score_roc_13week,score_roc_1week,score_roc_26week,score_roc_4week,score_roc_52week,stock_code,stock_name,sumvalue_gz,sumvalue_sc,sumvalue_yj
0,0,2018-11-30 00:00:00,61.15,-0.0317,0.0000,0.0969,-0.0947,-0.1066,1,平安银行,8.1,6.0,46.05
1,1,2018-11-30 00:00:00,72.20,0.2074,-0.0648,0.1721,0.0744,0.0728,2,万科A,8.1,6.0,57.10
2,2,2018-11-30 00:00:00,27.15,-0.1859,-0.1555,-0.4066,-0.1555,-0.3434,4,国农科技,2.7,3.0,21.45
3,3,2018-11-30 00:00:00,36.45,-0.1454,0.0000,-0.1725,0.0000,-0.1454,5,世纪星源,10.8,3.0,22.65
4,4,2018-11-30 00:00:00,45.45,-0.1335,-0.0991,-0.0883,0.0000,-0.3160,6,深振业A,10.8,3.0,31.65

In [7]:
set(table['con_date'])

{'2018-11-30 00:00:00'}

In [10]:
table1=table[table['con_date']>='2018-12-01']
table1

Empty DataFrame
Columns: [Unnamed: 0, con_date, score, score_roc_13week, score_roc_1week, score_roc_26week, score_roc_4week, score_roc_52week, stock_code, stock_name, sumvalue_gz, sumvalue_sc, sumvalue_yj]
Index: []